*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.footer
{
    min-height: 100%;
    background-color: #2F4F4F;
    margin-top: 20px;
}
.footer__content
{
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 30px;
}
.footer__content p
{
    padding-left: 5%;
    padding-right: 4%;
    text-align: center;
    color: white;
    font-family: 'Marck Script', cursive;
    font-size: 32px;
}
.footer__social-networks
{
    padding-top: 20px;
    padding-bottom: 55px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
.footer__social-networks a
{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 25px;
}
.footer__social-networks a:hover
{
    color: #5bd627;
    transition: 0.5s;
}
.footer__bottom__content
{
    padding-top: 15px;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 100%;
    padding-bottom: 15px;
}
.footer__bottom__content p
{
    text-align: center;
    font-family: 'Commissioner', sans-serif;
    color: white;
    font-size: 17px;
    padding-left: 5%;
    padding-right: 4%;
    line-height: 1.2;
}
.header__common
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px; 
}
.header__common-top
{
    max-width: 1200px;
    margin: 0 auto;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 15px 5px rgba(1, 1, 1, 0.7);
}
.header__common-logo
{
    display: inline-block;
    width: 180px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.return-on__mainpage
{
    float: right;
    padding-top: 45px;
    padding-right: 35px;
}
.return-on__mainpage a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}
.return-on__mainpage a:hover
{
    color: #5bd627;
    transition: 0.5s;
}
.header__common-content
{
    padding-top: 0px;
    max-width: 330px;
    max-height: 100%;
    margin: 0 auto;
    font-size: 100px;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 20px black;
    text-align: center;
}
.header__common-greenkitchen
{
    font-size: 50px;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 20px black;
    text-align: center;
    margin-top: -24px;
}


@media screen and (max-width: 720px)
{
    .footer__bottom__content p
    {
        font-size: 14px;
    }
}
@media screen and (max-width: 500px)
{
    .return-on__mainpage
    {
        border-top: 2px solid #5bd627;
        width: 100%;
        float: none;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
        text-align: center;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .return-on__mainpage a
    {
        font-size: 17px;
    }
    .header__common-logo
    {
        display: block;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
    .header__common-content
    {
        margin-top: 10px;
        font-size: 75px;
    }
    .header__common-greenkitchen
    {
        font-size: 37px;
    }
}
@media screen and (max-width: 420px)
{
    .footer__content
    {
        padding-top: 0px !important;
    }
    .footer__social-networks
    {
        padding-bottom: 40px !important;
    }
    .footer__bottom__content p
    {
        font-size: 13px !important;
        margin-bottom: 1px !important;
    }
}